body {
    background-color: rgba(24, 114, 87, 0.63);
    font-family: Tahoma, 'serif';
}

button {
    background-color: rgb(255, 145, 0);
    

}

h1 {
    color: rgb(247, 215, 215);
}
/*.header1 {
    color: white;
}*/

.friend {
    background-color: #dd87ff;
}

.friend h3 {
    text-transform: uppercase;
}